
  
    
  
  .container {
    width: 100%;
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .kanban-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .kanban-board {
    display: flex;
    flex-direction: row;
   
    font-family: sans-serif;
  }
  
  .kanban-heading-text {
    font-size: 1.8rem;
    background-color: rgb(134, 110, 49);
    padding: 0.8rem 1.7rem;
    border-radius: 0.5rem;
    margin: 1rem;
    color: white;
  }
  
  
  .main-card,
  .create-new-task-block {
    padding: 0.6rem;
    width: 50.5%;
    min-width: 14rem;
    min-height: 10.5rem;
    border-radius: 0.3rem;
    margin-left: 5px;
  }
  .taskcard{
    width: 100%;
    padding: 10px;
  }
  #todo {
    background-color: #fec6d1;
  }
  
  #backlog {
    background-color: #cab2d6;
  }
  #intesting {
    background-color: rgb(0, 200, 255);
  }
  
  #inprogress {
    background-color: #ffe600;
    /* display: none; */
  }
  
  #done {
    background-color: #619c61;
    /* display: none; */
  }
  
  .task {
    background-color: white;
    margin: 0.2rem 0rem 0.3rem 0rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem 0.5rem 2rem;
  }
  
  
  
  .create-new-task-block {
    display: none;
    /* display: flex; */
    background: #58aaa31d;
    width: 100%;
    flex-direction: column;
  }
  
  
  textarea {
    resize: none;
  }
  
  .form-row-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2rem;
  }
  

 
  #cancel-button{
    background-color: rgb(226, 35, 35);
  }
  
  #save-button {
    background-color: rgb(35, 226, 200);
  }
  .btn{
    float: right;
  }
  .msg{
    color: red;
    display: none;
  }
  .status{
    display: flex;
    flex-direction: row;
    text-transform: capitalize;

  }
  .test{
      border: 1px solid black;
      width: 10px;
      height: 10px;
    margin-left: 8px;
      margin-top: 7px;
      margin-right: 8px;
      
  }
  .taskFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.options .i{
  margin-left: 5px;
  margin-right: 5px;
}
